* {
    Margin:0;
    padding:0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-Thin.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-Thin.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-Thin.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-Thin.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-Thin.ttf') format('truetype');
	font-style: normal;
	font-weight: 100;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-ExtraLight.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-ExtraLight.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-ExtraLight.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-ExtraLight.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-ExtraLight.ttf') format('truetype');
	font-style: normal;
	font-weight: 200;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-Light.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-Light.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-Light.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-Light.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-Regular.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-Regular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-Regular.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-Regular.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-Medium.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-Medium.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-Medium.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-Medium.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-SemiBold.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-SemiBold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-SemiBold.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-SemiBold.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-Bold.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-Bold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-Bold.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-Bold.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-ExtraBold.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-ExtraBold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-ExtraBold.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-ExtraBold.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-ExtraBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-Black.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-Black.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-Black.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-Black.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-Black.ttf') format('truetype');
	font-style: normal;
	font-weight: 900;
}

.portada{
	width: 600px;
}

.fondo_code{
	display: flex;
	justify-content: center;
	width: 2000px;
}

.div_portada{
	background-image: url("/img/fondoprogramacion.svg");
	display: flex;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}



.navbar{
    list-style: none;
    text-decoration: none;
    display: flex;
    margin-top: 2rem; 
    margin-right: 0rem;
    margin-bottom: 1rem;
    margin-left: 11.5rem;
    font-family: 'Montserrat', sans-serif;
	
}

.rectangulo{
    display: flex;
    width: auto;
    height: 150px;
    background: #DBE9FF;
}

.font{
    font-family: 'Montserrat', sans-serif;
    font-family: 'MuseoModerno';
}

h1{
    height: 102px;
    font-family: 'MuseoModerno';
    font-style: normal;
    font-weight: 300;
    font-size: 4rem;
    text-align: center;
    color: #000000;
    margin-top: 45px;
}

.titulo_sobremi{
	text-align: center;
	font-family: 'MuseoModerno';
	font-size: 3.5rem;
	font-weight: 400;
	margin-top: 20px;
}
.parrafo_sobremi{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
}
.datos_personales{
    
    font-weight: 400;
    margin-left: 2rem;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin-top: 30px;
}

.li_dp{
    display: block;
    padding-top: 15px;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 4.5rem;
	font-size: 1.4rem;
}

.li_est{
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-bottom:10px;
}

.div_dp{
    margin-top: 2.5rem;
    background: #E7EFFB;
    width: auto;
    display: flex;
}

.imgcv{
    width: 300px;
    height: 300px;
    display: flex;
	border-radius: 40px;
	margin-left: 40px;

}

footer{
    margin-top: 20rem;
    background: #DBE9FF;
	display: flex;
	align-items: center;
	justify-content: center;
}

.spanft{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem
}

h3{
    font-family: 'MuseoModerno';
    text-align: center;
    font-size: 1,9rem;
}

.h3_est{
    margin-top: 15px;
    margin-bottom: 15px;
}

.img_uade{
    width: 380px;
    height: 300px;
}

.img_laburo{
	margin-left: -30rem;
}

.rectangulo_exp{
	display: flex;
	justify-content:space-around;

}


.rectangulo_2_exp{
	display: flex;
	align-items: center;
	margin-left: -50rem;
}

.li_exp{
	text-decoration: none;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	line-height: 4rem;
}

.recuadro{
	border-radius: 68px;
	border-style: inherit;
	background-color: #E7EFFB;
}

.div_comp{
	display: flex;
	justify-content: left;
	
}

.img_soft{
	width: 400px;
	height: auto;
}

.div_comp ul li{
	list-style: none;
	font-family: 'Montserrat', sans-serif;

}

.div_comp h2{
	font-family: 'MuseoModerno';
}