* {
    Margin:0;
    padding:0;
    box-sizing: border-box;
}

a {
	text-decoration: none;
  }
  
a:visited {
	color: black;
  }


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-Thin.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-Thin.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-Thin.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-Thin.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-Thin.ttf') format('truetype');
	font-style: normal;
	font-weight: 100;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-ExtraLight.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-ExtraLight.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-ExtraLight.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-ExtraLight.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-ExtraLight.ttf') format('truetype');
	font-style: normal;
	font-weight: 200;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-Light.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-Light.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-Light.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-Light.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-Regular.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-Regular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-Regular.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-Regular.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-Medium.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-Medium.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-Medium.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-Medium.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-SemiBold.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-SemiBold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-SemiBold.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-SemiBold.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-Bold.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-Bold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-Bold.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-Bold.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-ExtraBold.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-ExtraBold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-ExtraBold.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-ExtraBold.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-ExtraBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-Black.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-Black.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-Black.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-Black.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-Black.ttf') format('truetype');
	font-style: normal;
	font-weight: 900;
}

.portada{
	width: 600px;
}

.fondo_code{
	display: flex;
	justify-content: center;
	width: 2000px;
}

.div_portada{
	background-image: url("/Sitio-cv/img/fondoprogramacion.svg");
	display: flex;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

input, label{
    display: none;
}

.navbar{
    list-style: none;
    text-decoration: none;
    display: flex;
    margin-top: 2rem; 
    margin-right: 0rem;
    margin-bottom: 1rem;
    margin-left: 3.5rem;
    font-family: 'Montserrat', sans-serif;
}

.navbar li a:hover{
	font-size: 1.3rem;
	background-color: #81b1ff;
}

.rectangulo{
    display: flex;
    width: auto;
    height: 150px;
    background: #DBE9FF;
}

.font{
    font-family: 'Montserrat', sans-serif;
    font-family: 'MuseoModerno';
}

h1{
    height: 102px;
    font-family: 'MuseoModerno';
    font-style: normal;
    font-weight: 300;
    font-size: 4rem;
    text-align: center;
    color: #000000;
    margin-top: 45px;
}

.titulo_sobremi{
	text-align: center;
	font-family: 'MuseoModerno';
	font-size: 3.5rem;
	font-weight: 400;
	margin-top: 20px;
	text-decoration: underline;
	text-decoration-color: rgb(109, 161, 234);
}
.parrafo_sobremi{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	border-bottom: #000000;
}
.datos_personales{
    
    font-weight: 400;
    margin-left: 2rem;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin-top: 50px;
}

.li_dp{
    display: block;
    padding-top: 15px;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 4.5rem;
	font-size: 1.4rem;
}
.li_est{
    display: block;
    padding-top: 15px;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 4.5rem;
	font-size: 1.4rem;
	background-color: white;
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-bottom:10px;
}

.div_dp{
    margin-top: 2.5rem;
    background-color: #DBE9FF;
    width: auto;
    display: flex;
	line-height: 50px;
	align-items: center;
	flex-grow: 1;
}
.div_fondo_estudios{
	background-image: url("/Sitio-cv/img/patron_libros.svg");
}
.div_estudios{
	backdrop-filter: blur(5px);
    margin-top: 2.5rem;
    width: auto;
    display: flex;
	line-height: 50px;
	align-items: center;
	flex-grow: 1;
	filter: none;
}

.imgcv{
    width: 300px;
    height: 300px;
    display: flex;
	border-radius: 40px;
	margin-left: 40px;
}

footer{
    margin-top: 5rem;
    background: #DBE9FF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.spanft{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
	display: block;
}


h3{
    font-family: 'MuseoModerno';
    text-align: center;
    font-size: 1,9rem;
}

.h3_est{
    margin-top: 15px;
    margin-bottom: 15px;
}

.img_uade{
    width: 380px;
    height: auto;
	background-color: white;
}

.img_laburo{
	margin-left: -30rem;
}

.rectangulo_exp{
	display: flex;
	justify-content:space-around;
}


.rectangulo_2_exp{
	display: flex;
	align-items: center;
	margin-left: -50rem;
}

.li_exp{
	text-decoration: none;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	line-height: 4rem;
}

.recuadro{
	border-radius: 68px;
	background-color: #E7EFFB;
}
.h1_exp{
	text-decoration: underline;
	text-decoration-color: rgb(109, 161, 234);
}

.container_habilidades{
	background-image: linear-gradient(
  0deg,
  hsl(240deg 92% 70%) 0%,
  hsl(223deg 100% 66%) 11%,
  hsl(213deg 100% 62%) 22%,
  hsl(207deg 100% 60%) 33%,
  hsl(204deg 100% 63%) 45%,
  hsl(202deg 97% 67%) 56%,
  hsl(200deg 89% 72%) 67%,
  hsl(198deg 79% 77%) 78%,
  hsl(194deg 66% 82%) 89%,
  hsl(190deg 48% 88%) 100%
);
}
.h1_competencias{
	text-decoration: underline;
	text-decoration-color: rgb(109, 161, 234);
}
.container_blandas{
	display: flex;
	justify-content: left;
	align-items: center;
}

.img_soft{
	width: 600px;
	height: auto;
	margin-right: 50px;
}

.img_hard{
	width: 600px;
}

.container_hard{
	display: flex;
	justify-content: right;
}

.container_blandas ul li{
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem;

}

.container_blandas h2{
	font-family: 'MuseoModerno';
	font-size: 2rem;
}

.container_hard ul li{
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem;

}

.container_hard h2{
	font-family: 'MuseoModerno';
	font-size: 2rem;
	
}

@media screen and (max-width:800px) {/*cuando el dispositivo es como máximo de 700px*/
        
	
	input:checked ~ ul{ /*muestra todas el contenido de todas las etiquetas ul */
		display:none;
	}
	
	
	input:checked ~ label { /*muestra todo el contenido de todas las etiquetas label */
		background: #CDEFF5;
	}
	
	nav .navbar {
		display: flex;
		flex-direction: column;
		margin-left: 50px;
		margin-right: 50px;
		text-align: center;
		z-index:1 ;
	}

	header nav ul li{
		z-index:1;
		background-color: #e0eaf6;
	}

	li{/*elimina el margen  de cada botón */
		margin: 0px;
		display: block;
		
	}
	
	
	label { /* dibuja la etiqueta ☰  con formato botón */
		position:absolute;
		box-sizing: border-box;
		display: block;
		border: 1px solid black;
		border-radius: 5px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-weight: bold;
		text-align: center;
		user-select: none;
		background-color: rgb(95, 158, 160);
		margin-left: 5%;
		z-index: 1;
		}

	ul li a{
		text-decoration: none;
		color: black;
	}

	nav .navbar li {
		font-size: 0.9rem;
	}

	.rectangulo{
		height: 80px;
		
	}

	h1{
		font-size: 2rem;
		margin-top: 10px;
	}

	.titulo_sobremi{
		font-size: 1.8rem;
	}

	.parrafo_sobremi{
		font-size: 1.3rem;
	}

	.datos_personales{
		font-size: 1.8rem;
		margin-top: 5px;
	}

	.imgcv{
		width: 300px;
		margin: 0;
	}

	.div_dp{
		flex-direction: column;
		margin: 0;
	}

	.li_dp{
		font-size: 0.9rem;
		padding: 0;
		margin: 0;
	}

	.spanft{
		font-size: 1.2rem;
	}

	.datos_personales{
		text-align: center;
		font-size: 1.5rem;
	}

	.img_uade{
		width: 200px;
		height: auto;
	}
	.div_dp{
		margin-top: 15px;
	}

	.li_dp{
		font-size: 1rem;
		text-align: center;
	}

	.img_laburo{
		width: 300px;
		height: auto;
		margin: 0;
	}

	.rectangulo_exp{
		justify-content: center;
		flex-direction: column;
	}
	
	.rectangulo_2_exp{
		margin: 0px;
	}

	.li_exp{
		text-align: center;
		font-size: 1.2rem;
	}

	.container_blandas, .container_hard{
		flex-direction: column;
	}

	.img_soft, .img_hard{
		width: 300px;
		height: auto;
	}

	.container_blandas ul li{
		font-size: 1.3rem;
		text-align: center;
	}

	.container_blandas ul h2{
		font-size: 1.8rem;
		text-align: center;
	}

	.container_hard ul li{
		font-size: 1.3rem;
		text-align: center;
	}

	.container_hard ul h2{
		font-size: 1.8rem;
		text-align: center;
	}

	.div_estudios{
		flex-direction: column;
	}
	.li_est{
		font-size: 1rem;
		text-align: center;
		margin: 0;
	}
}