* {
    Margin:0;
    padding:0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-Thin.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-Thin.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-Thin.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-Thin.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-Thin.ttf') format('truetype');
	font-style: normal;
	font-weight: 100;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-ExtraLight.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-ExtraLight.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-ExtraLight.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-ExtraLight.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-ExtraLight.ttf') format('truetype');
	font-style: normal;
	font-weight: 200;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-Light.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-Light.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-Light.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-Light.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-Regular.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-Regular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-Regular.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-Regular.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-Medium.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-Medium.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-Medium.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-Medium.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-SemiBold.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-SemiBold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-SemiBold.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-SemiBold.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-Bold.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-Bold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-Bold.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-Bold.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-ExtraBold.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-ExtraBold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-ExtraBold.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-ExtraBold.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-ExtraBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: 'MuseoModerno';
	src: url('fonts/MuseoModerno/MuseoModerno-Black.eot');
	src: url('fonts/MuseoModerno/MuseoModerno-Black.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MuseoModerno/MuseoModerno-Black.woff2') format('woff2'),
		 url('fonts/MuseoModerno/MuseoModerno-Black.woff') format('woff'),
		 url('fonts/MuseoModerno/MuseoModerno-Black.ttf') format('truetype');
	font-style: normal;
	font-weight: 900;
}
.navbar{
    list-style: none;
    text-decoration: none;
    display: flex;
    margin-top: 2rem; 
    margin-right: 0rem;
    margin-bottom: 1rem;
    margin-left: 15rem;
    font-family: 'Montserrat', sans-serif;
}

.rectangulo{
    display: flex;
    width: auto;
    height: 150px;
    background: #DBE9FF;
}

.font{
    font-family: 'Montserrat', sans-serif;
    font-family: 'MuseoModerno';
}

h1{
    height: 102px;
    font-family: 'MuseoModerno';
    font-style: normal;
    font-weight: 300;
    font-size: 4rem;
    text-align: center;
    color: #000000;
    margin-top: 45px;
}

.datos_personales{
    
    font-weight: 400;
    margin-left: 2rem;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

.li_dp{
    display: block;
    padding-top: 15px;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 2rem
}

.li_est{
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-bottom:10px;
}

.div_dp{
    margin-top: 2.5rem;
    background: #E7EFFB;
    width: auto;
    display: flex;
}

.imgcv{
    width: 300px;
    height: 300px;
    display: flex;
}

footer{
    margin-top: 20rem;
    background: #DBE9FF;
}

.spanft{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem
}

h3{
    font-family: 'MuseoModerno';
    text-align: center;
    font-size: 1,9rem;
}

.h3_est{
    margin-top: 15px;
    margin-bottom: 15px;
}

.img_uade{
    width: 600px;
    height: 300px;
}